*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.mobile{
  display: none;
}
@media screen and (min-width: 992px){
.mobile{
  display: block;
}
}


/* STYLE */
#section-1 .container{
  background-image: url("../img/hero-bg.jpg");
}
.container-grid div{
  background-color: red;
  border: 1px solid black;
}
    /* section 3 */
#section-3 .container{
  background-image: url("../img/helbiz-banner.jpg");
}
#section-3 .left,
#section-3 .right{
  margin-top: 100px;
}
